@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --container-padding: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --container-padding-xl: 5rem;
  --container-padding-2xl: 6rem;
}

/* Container styles */
/* .container {
  margin-inline: auto;
  padding: 1rem;
} */

body {
  font-family: var(--font-sans);
}